footer {

  .row {
    color            : #14233c;
    background-color : #2c508a;
    text-align       : center;
    transition       : all 200ms ease-in-out;
  }

  img {
    width         : 100px;
    margin-top    : 70px;
    margin-bottom : 20px;
  }

  a {
    display     : inline-block;
    padding     : 30px;
    color       : #14233c;
    font-weight : 700;
  }
  @media (max-width : 768px) {
    a {
      padding : 10px;
    }
  }

  a:hover {
    color           : white;
    text-decoration : none;
  }

  span {
    font-size : 35px;
  }

  .donate {
    padding          : 40px;
    background-color : grey;
  }

  h2 {
    color       : white;
    font-weight : 700;
  }

  a:hover h2 {
    color           : #14233c;
    text-decoration : none;
  }

  .fa {
    margin    : 20px;
    font-size : 35px;
  }
}
