#ydu-main-body{
  padding-top: 48px;
}

header{

  &{
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100vw;
    height: 48px;
    z-index: 1000;
  }

  img{
    float: left;
    width: 60px;
    margin: 12px 20px;
  }

  ul{
    float: right;
    /* text-align: right; */
    margin: 16px 48px;
    /* padding: 0 10px; */
    word-break: keep-all;
    white-space: nowrap;
  }

  a.logo{
    text-align: center;

  }

  a.logo img{
    margin: 14px;
    width: 267px;
  }

  ul > li{
    list-style: none;
    display: inline
  }

  ul > li > a{
    padding: 0 5px;
    text-decoration: none;
    color:black;
    font-weight: 700;
  }

  ul > li > a:hover{
    text-decoration: none;

  }



  @media (max-width: 567px){

    ul{
      text-align: center;

    }


  }

}
