#menu {
  z-index          : -1;
  position         : fixed;
  width            : 100vw;
  height           : 100vh;
  color            : white;
  opacity          : 0;
  background-color : rgba(0, 43, 10,0.98);
  transition       : opacity 300ms ease-in-out;
}

#menu.visible {
  z-index : 16;
  opacity : 1;
}

#menu {
  a {
    display         : inline-block;
    color           : white;
    text-decoration : none;
    font-size       : 26px;
    cursor          : pointer;
  }

  a.go-back {
    padding-top : 18px;
  }

  a.go-back .glyphicon {
    position : relative;
    top      : 3px;
  }

  .menu-row {
    padding-top : 5vw;
  }

  ul {
    list-style : none;
  }

  .divider.left {
    left : -20px;
  }

  span.fa {
    padding-left : 15px;
  }
}
