section.social {
  padding-bottom   : 50px;
  background-color : #eee;
}

section.social> div {
  margin-top : -200px;
}

section.social {
  .phone {
    width            : 300px;
    height           : 500px;
    margin           : 0 auto;
    padding          : 20px 15px;
    border           : 3px solid lightgrey;
    border-radius    : 10px;
    background-color : white;
  }

  .phone iframe {
    width            : 100%;
    height           : 100%;
    overflow         : hidden;
    border           : 1px solid lightgrey;
    background-color : lightgrey;
  }

  .card {
    padding          : 5px;
    background-color : white;
  }

  .card > span {
    display    : inline-block;
    width      : 100%;
    padding    : 30px;
    color      : lightgrey;
    text-align : center;
    font-size  : 40px;
  }

  .card > span > a {
    padding : 20px;
  }

  .card > div {
    margin     : 0px 30px 30px 30px;
    padding    : 50px;
    border     : 2px solid lightgrey;
    text-align : center;
  }
  @media (max-width: 768px) {
    .card > div {
      margin  : 0px 10px 10px 10px;
      padding : 10px;
    }

    .card > span {
      padding : 15px;
    }
  }
}
