section.request h2{
  color:white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 20px;
}


section.request a:hover,
section.request a:active
{
  text-decoration: none;
}

section.request > div{
  padding-top: 120px;
    padding-bottom: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

section.request > div:after{

  content: '';
  position: absolute;
  left: 0px;
  top:0px;
  height: 100%;
  width: 100%;
  transition: background-color 300ms ease-in-out;
}

section.request > div:nth-child(1){
    background-image: url('/img/soapbox.jpg');
}
section.request > div:nth-child(1):after{
    background-color: rgba(255,255,255,0.77);
}
section.request > div:nth-child(1):hover:after{
    background-color: rgba(255,255,255,0.9);
}
section.request > div:nth-child(2){

    background-image: url('/img/blacksuit.jpg');
}
section.request > div:nth-child(2):after{
    background-color: rgba(152,57,57,0.77);
}
section.request > div:nth-child(2):hover:after{
    background-color: rgba(152,57,57,0.9);
}

section.request > div > div{
  position: relative;
  z-index: 1;
  margin: 0px auto;
  border: 3px solid white;
    max-width: 350px;
    text-align: center;
}

section.request > div > div.red{
    border: 3px solid rgba(152,57,57,1);
    color: rgba(152,57,57,0.77);
}
section.request > div > div.red h2{
    color: rgba(152,57,57,1);
}
