section.committment {
  padding-bottom : 50px;
  color          : #6b6b6b;
}

section.committment.card {
  margin     : 0px;
  margin-top : 75px;
}

section.committment {
  h3 {
    z-index        : 1;
    position       : relative;
    margin         : 10px;
    text-transform : uppercase;
    font-size      : 24px;
  }

  h1 {
    padding : 30px;
  }

  p {
    z-index        : 1;
    position       : relative;
    color          : white;
    text-transform : uppercase;
    font-size      : 18px;
  }

  .committments > div div {
    position            : relative;
    min-height          : 300px;
    margin              : 20px;
    padding             : 90px 10px;
    color               : white;
    border              : 1px solid lightgrey;
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
    font-weight         : 700;
  }

  .committments > div div:after {
    content    : ' ';
    position   : absolute;
    top        : 0px;
    left       : 0px;
    width      : 100%;
    height     : 100%;
    transition : background-color 300ms ease-in-out;
  }

  .committments > div div:hover{
      cursor: pointer;
    
  }

  .committments > div:nth-child(1) div {
    background-image : url('/img/jobs.jpeg');
  }

  .committments > div:nth-child(1) div:after {
    background-color : rgba(1,68,16,0.5);
  }

  .committments > div:nth-child(1) div:hover:after {
    background-color : rgba(1,68,16,0.7);
  }

  .committments > div:nth-child(2) div {
    background-image : url('/img/education.jpeg');
  }

  .committments > div:nth-child(2) div:after {
    background-color : rgba(0, 0, 0, 0.3);
  }

  .committments > div:nth-child(2) div:hover:after {
    background-color : rgba(0, 0, 0, 0.5);
  }

  .committments > div:nth-child(3) div {
    background-image : url('/img/freedom.jpg');
  }

  .committments > div:nth-child(3) div:after {
    background-color : rgba(0,44,114,0.5);
  }

  .committments > div:nth-child(3) div:hover:after {
    background-color : rgba(0,44,114,0.7);
  }
  @media (max-width:768px) {
    .card {
      margin-right : 5px;
      margin-left  : 5px;
    }
  }
}
