section.meet-jason{
  margin-bottom: 250px;

}

section.meet-jason{
  img{
    padding-right: 50px;
  }
  .right{
    margin-left: -50px;
    text-align: center;
  }
  .family{
    display: inline-block;
    border-bottom: 4px solid red;
    margin-bottom: 20px;
  }
  .card{
    margin: 50px 0px 50px 4px;
  }
  @media (max-width : 996px) {
    img{
      padding-right: 0px;
    }

    .right{
      margin-left: 0px;

    }

  }

}
